

#debug{
	/*display:none;*/
	}
	
#header{
	border:2px solid black;
	margin-bottom:1px;
	font-size:25px;
	width:1000px;
	}

#buttonBar div{
	width:240px;
	height:25px;
	border:1px solid black;
	float:left;
	margin-bottom:2px;
}

#buttonBar div:not(:first-child){
}
	
#header span{
	margin-left:200px;
}

#farmWindow {
	width:660px;
	height:600px;
	border:2px solid black;
	float:left;
}

.farmPlot{	
	background-image:url("farmPlot.png");
	width :218px;
	height:198px;
	float:left;
}

.farmPlot2{
	background-image:url("farmPlot.png");
	float:left;
	width :218px;
	height:198px;
	background-color:grey;
}

.farmButton{
	width:300px;
	height:25px;
	border:2px solid black;
	margin-top:5px;
	margin-left:10px;
}

.cropButton{
	height:25px;
	width:25px;
	border: 2px solid black;
	margin: 3px;
	float: left;
}

#factoryWindow {
	width:660px;
	height:600px;
	border:2px solid black;
	float:left;
}

#factoryBar {
	width:334px;
	height:600px;
	margin-left:2px;
	border:2px solid black;
	float:left;
}

#resturantWindow {
	width:660px;
	height:600px;
	border:2px solid black;
	float:left;
}

#resturantBar {
	width:334px;
	height:600px;
	margin-left:2px;
	border:2px solid black;
	float:left;
}

#farmPlot:nth-child(4){
	clear:left;
}

#farmBar {
	width:334px;
	height:600px;
	margin-left:2px;
	border:2px solid black;
	float:left;
}

.hide{
	display:none;
}

.active{
	
}