

#debug{
	/*display:none;*/
	}
	
#header{
	border:2px solid black;
	margin-bottom:1px;
	font-size:25px;
	width:1000px;
	}
	
.storageBar{
	position:absolute;
	border:2px solid black;
	margin-top:1px;
	font-size:25px;
	width:1000px;
	height:30px;
	transition: height 2s;
	background-color:white;
}

.storBu{
	width:30px;
	height:30px;
	float:left;
}

#storCon1{
	width:900px;
	height:30px;
	font-size:25px;
	padding-left:2px;
	float:left;
}

.storCon{
	position:absolute;
	top:76px;
	border-left:2px solid black;
	border-right:2px solid black;
	border-bottom:2px solid black;
	transition: height 2s;
	background-color:white;
	width:910px;
	height:0px;
	font-size:25px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	overflow:hidden;
}

.storBlock{
	width:150px;
	height:30px;
	float:left;
}

.storBlock div{
	display:block;
	float:left;
}

.storBlock img{
	width:30px;
	height:30px;
	float:left;
}

#buttonBar{
	margin-top:38px;
}

#buttonBar div{
	width:248.5px;
	height:25px;
	border:2px solid black;
	float:left;
	margin-bottom:2px;
	text-align: center;
}

#buttonBar div:not(:first-child){
	border-left:0px;
}
	
.hide{
	display:none;
}

.activeWindow{
	width:660px;
	height:600px;
	border:2px solid black;
	float:left;
	clear:left;
}

.activeBar{
	width:334px;
	height:600px;
	margin-left:2px;
	border:2px solid black;
	float:left;
}

.farmPlot{	
	background-image:url("farmPlot.png");
	width :220px;
	height:200px;
	float:left;
}

.farmPlot2{
	background-image:url("farmPlot.png");
	float:left;
	width :220px;
	height:200px;
	background-color:grey;
}

.Growth{
	height:0px;
	width:220px;
	margin-top:140px;
	transition-property: margin-top, height;
	transition-duration: 10s;
	transition-timing-function: linear;
}

.farmButton{
	width:300px;
	height:25px;
	border:2px solid black;
	margin-top:5px;
	margin-left:10px;
}

#cropBox{
	height:400px;
	width:328px;
	border:1px solid black;
	margin-left:2px;
}

.cropButton{
	height:30px;
	width:30px;
	border: 2px solid black;
	margin: 3px;
	float: left;
}

#farmPlot:nth-child(4){
	clear:left;
}

.kitBut{
	width:329px;
	height:299.5px;
	float:left;
}

.truckDis{
	float:left;
	border:1px solid black;
	margin-top:5px;
	margin-bottom:5px;
	width:280px;
	height:60px;
}

.activeBar2{
	width:334px;
	height:600px;
	float:left;
}


