

#debug{
	/*display:none;*/
	}
	
#header{
	border:2px solid black;
	margin-bottom:1px;
	font-size:25px;
	width:1000px;
	}

#buttonBar div{
	width:220px;
	height:25px;
	border:1px solid black;
	float:left;
	margin-bottom:2px;
}

#buttonBar div:not(:first-child){
}
	
#header span{
	margin-left:200px;
}

#farmWindow {
	width:660px;
	height:600px;
	border:2px solid black;
	float:left;
}

#farmPlot{	
	background-image:url("farmPlot.png");
	width :220px;
	height:200px;
	float:left;
}

#factoryWindow {
	width:660px;
	height:600px;
	border:2px solid black;
	float:left;
}

#factoryBar {
	width:334px;
	height:600px;
	margin-left:2px;
	border:2px solid black;
	float:left;
}

#resturantWindow {
	width:660px;
	height:600px;
	border:2px solid black;
	float:left;
}

#resturantBar {
	width:334px;
	height:600px;
	margin-left:2px;
	border:2px solid black;
	float:left;
}

#farmPlot:nth-child(4){
	clear:left;
}

#farmBar {
	width:334px;
	height:600px;
	margin-left:2px;
	border:2px solid black;
	float:left;
}

.hide{
	display:none;
}

.active{
	
}